<!-- Page Content -->
<div class="container">
    <hr>
    <!-- Heading Row -->
    <div class="row">

        <div class="container jumbo-image home_page">
        </div>
        <hr>
        <div class="pickup-btn">
            <h1>Got some bag filled?</h1>
            <% if user_signed_in? %>
                <%= link_to "Reuqest For Pickup", new_bag_path, class: 'btn btn-danger btn-lg', id: 'cracker1-button'  %>
            <% else %>
                <h2>Kinldy Register Yourself to be a Part of this Change!</h2>
            <% end %>
        </div><!-- /.col-md-8 -->
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

<hr>
<h1 class="text-center"> Features </h1>
<hr class="faded">
<div class="container three-steps">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "1.png", class: "img-thumbnail feature" %>
      <br>
    </div>
    <div class="col-md-4">
      <%= image_tag "2.jpg", class: 'img-thumbnail feature' %>
      <br>
    </div>
    <div class="col-md-4">
      <%= image_tag "3.jpg", class: "img-thumbnail feature" %>
      <br>
    </div>
  </div>
</div>
<br>

    <!-- Footer -->

</div>
<!-- /.container -->

